h1{
    background-color: #05517778;
    text-align: center;
    border-style:double;
    border-color:#ffffff;
}

form{
    background-color: #05517778;
    text-align: center;
    padding-bottom: 15px;
    border-style:double;
    border-color: #ffffff;
}

#pesquisa{
    background-color: #ffffff;
    margin: 0 35% 0 35%;
    border-radius: 2px;
    padding: 5px;
}

footer{
    text-align: center;
    font-size: smaller;
}

footer img{
    height: 25px;
    width: 25px;
    display: inline-block;
    padding-bottom: 10px;
}